<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/employee/dashboard">Employee Panel</a>
  
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee/new-request" routerLinkActive="active">New Request</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
   
 
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="navigateTo('')">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('requests')">Travel Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('new-request')">New Request</a>
        </li>
      </ul>
    </div>
  </nav> -->
